src/main/mule/checking-cicd-with-git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="31da7155-a995-4b06-82a3-da841462f7f1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="checking-cicd-with-gitFlow" doc:id="710c837d-f293-43f2-ac32-699ec34d3851" >
		<http:listener doc:name="Listener" doc:id="7a9b14b4-ef0f-4e97-9a88-5196cfaa07fd" config-ref="HTTP_Listener_config" path="/git"/>
		<ee:transform doc:name="Transform Message" doc:id="6a8c30c6-2bf5-4002-8466-859146c60cfb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Checking CICD with Github actions"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f461355c-46e0-454a-b142-46f0412b884a" message="#[payload]"/>
	</flow>
</mule>
